@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --priary-color: #ff7613;
    --text-color: #727171;
}

html {
    font-size: 10px;
}

body {
    font-family: Inter,sans-serif;
    background-color: black;
    color: white;
}

/* estilos comunes */
img {
    width: 100%;
}
a {
    text-decoration: none;
    color: white;
}
.description {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color)
}
 .title {
    color: var(--priary-color);
    font-weight: 700%;
    font-size: 2rem;
    text-transform: uppercase;
 }
 .item_preTitle {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 300;
 }
.item_title {
    font-size: 1.6rem;
    color: white;
    font-weight: 500;
    margin: 0.8rem 0;
}
.item_subtitle {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}

